.ipynb_checkpoints

autisme_model.h5
autisme_model.pkl

scraping autism questions.ipynb
Best Questions finding.ipynb
scraping autism questions.ipynb

Childhood Autism Spectrum Test Questions.xlsx
Autism Spectrum Quotient Questions.xlsx
Autisme_Data_clean.xlsx